<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>

    <style>
      .errorTrue {
        display: block !important;
      }
    </style>
  </head>
  <body>
    <form method="post">
      <input placeholder="username" type="text" name="username" />
      <input placeholder="password" type="password" name="password" />
      <button type="submit">Sign in</button>
    </form>
    <p class="{{errorTrue}}" style="display: none">{{errorValue}}</p>
  </body>
</html>
